body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9; /* Light blue background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;;
    margin-top:100px;
  }
  
  .registration-container {
    background-color: #fff; /* White background for the container */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 800px;
    text-align: left;
    transition: box-shadow 0.3s; /* Smooth transition for box shadow */
    margin-top: 3px;
  }
  
  .registration-container:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
  }
  
  .registration-form {
    margin-top: 20px;
  }
  
  h2 {
    color: #005a8d; /* Navy blue text */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    color: #005a8d; /* Navy blue text */
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select,
  input[type="password"],
  input[type="date"],
  input[type="checkbox"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #bdd5ea; 
    border-radius: 3px;
    transition: border-color 0.3s; 
  }
  
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  select:focus,
  input[type="password"]:focus,
  input[type="date"]:focus {
    border-color: #0077cc; /
  }
  
  button {
    background-color: #0077cc; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  button:hover {
    background-color: #005a8d; 
  }
  
  button:active {
    transform: translateY(1px); 
  }
  
  